body {
  background: rgb(19, 6, 19);
  font-family: monospace;
  font-size: 11pt;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 18pt;
  color: #e4e2ff;
}

.title {
  font-size: 45pt;
  text-align: center;
}

.menu {
  text-align: center;
  font-size: 16pt;
  color: #e4e2ff;
}

a:link,
a:visited {
  color: rgb(61, 98, 219);
  text-decoration: none;
}

a:hover {
  color: rgb(109, 182, 250);
}

mark {
  background-color: rgba(162, 200, 231, 0.822);
}

.container {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 200px) {
  .carousel-caption {
    font-size: 5pt;
  }
  footer {
    font-size: 5pt;
  }
}
@media (min-width: 400px) {
  .carousel-caption {
    font-size: 5pt;
  }
  footer {
    font-size: 7pt;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .carousel-caption {
    font-size: 7pt;
  }
  footer {
    font-size: 8pt;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .carousel-caption {
    font-size: 8pt;
  }
  footer {
    font-size: 8pt;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .carousel-caption {
    font-size: 9pt;
  }
  footer {
    font-size: 8pt;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
  .carousel-caption {
    font-size: 11pt;
  }
  footer {
    font-size: 8pt;
  }
}

.carousel {
  width: 80%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

p {
  color: rgb(109, 182, 250);
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  color: rgb(109, 182, 250);
}

.card {
  background-color: rgba(101, 27, 219, 0.281);
  margin: 10px;
  border-radius: 3px;
}

.card-title {
  color: #e4e2ff;
}

.card-text {
  color: rgb(109, 182, 250);
}

label {
  color: #e4e2ff;
}

span {
  color: #e4e2ff;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  color: #e4e2ff;
}

.bio-text {
  /*background-color: rgba(167, 189, 231, 0.185);*/
  background-color: rgba(101, 27, 219, 0.281);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#contact-info > img {
  max-height: 400px;
  width: auto;
  object-fit: cover;
  object-position: left 70%;
}
