body {
  background: rgb(19, 6, 19);
  font-family: monospace;
  font-size: 11pt;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 18pt;
  color: #e4e2ff;
}

.title {
  font-size: 45pt;
  text-align: center;
}

.menu {
  text-align: center;
  font-size: 16pt;
  color: #e4e2ff;
}

a:link,
a:visited {
  color: rgb(61, 98, 219);
  text-decoration: none;
}

a:hover {
  color: rgb(109, 182, 250);
}

mark {
  background-color: rgba(162, 200, 231, 0.822);
}

.container {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 200px) {
  .carousel-caption {
    font-size: 5pt;
  }
  #likes-img {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 80%;
  }
  #panda,
  #sloth {
    width: 130px;
    height: 80px;
  }
  footer > p {
    font-size: 5pt;
  }
}
@media (min-width: 400px) {
  .carousel-caption {
    font-size: 5pt;
  }
  #likes-img {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 80%;
  }
  #panda,
  #sloth {
    width: 170px;
    height: 100px;
  }
  footer > p {
    font-size: 7pt;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .carousel-caption {
    font-size: 7pt;
  }
  #likes-img {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 80%;
  }
  #panda,
  #sloth {
    width: 170px;
    height: 100px;
  }
  footer > p {
    font-size: 8pt;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .carousel-caption {
    font-size: 8pt;
  }
  #likes-img {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 80%;
  }
  #panda,
  #sloth {
    width: 250px;
    height: 150px;
  }
  footer > p {
    font-size: 8pt;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .carousel-caption {
    font-size: 9pt;
  }
  #likes-img {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  #likes-list {
    margin-right: 100px;
  }
  #panda,
  #sloth {
    width: 300px;
    height: 200px;
  }
  footer > p {
    font-size: 8pt;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
  .carousel-caption {
    font-size: 11pt;
  }
  #likes-img {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  #likes-list {
    margin-right: 100px;
  }
  #panda,
  #sloth {
    width: 300px;
    height: 200px;
  }
  footer > p {
    font-size: 8pt;
  }
}

.carousel {
  width: 80%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

p {
  color: rgb(109, 182, 250);
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

#panda,
#sloth {
  margin: auto;
  box-shadow: 1px 1px 10px 1px rgb(10, 10, 10, 0.2),
    -1px -1px 10px 1px rgb(10, 10, 10, 0.2);
}

#panda:hover,
#sloth:hover {
  box-shadow: 1px 1px 10px 1px rgb(109, 182, 250),
    -1px -1px 10px 1px rgb(109, 182, 250);
}

#vs {
  font-size: 20pt;
  color: white;
}

.list {
  color: rgb(109, 182, 250);
}

#likes-info {
  display: grid;
}

#likes-img {
  display: flex;
  justify-content: center;
}

#lazy-lofi-img {
  box-shadow: 1px 1px 10px 1px rgb(109, 182, 250),
    -1px -1px 10px 1px rgb(109, 182, 250);
  border-radius: 3px;
  width: 100%;
  height: 100%;
}

#likes-list {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.card {
  background-color: rgba(101, 27, 219, 0.281);
  margin: 10px;
  box-shadow: 1px 1px 10px 1px rgb(109, 182, 250),
    -1px -1px 10px 1px rgb(109, 182, 250);
  border-radius: 3px;
}

.card-title {
  color: #e4e2ff;
}

.card-text {
  color: rgb(109, 182, 250);
}

label {
  color: #e4e2ff;
}
#contact-container {
  display: flex;
  justify-content: center;
  width: 70%;
}

/*
#contact-form {
  width: 45%;
  float: left;
}

#contact-info {
  width: 45%;
  float: right;
}

#contact-info {
  width: 50%;
}
*/

span {
  color: #e4e2ff;
}

footer > p {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: right;
  color: #e4e2ff;
}
